/*******************************
        Theme Selection
*******************************/
 /* Global */
@site       : 'material';  /* Loads material site materials */
@reset      : 'material';
 /* Elements */
@button     : 'material'; /* But uses them with GitHub Buttons */
@container  : 'material';
@divider    : 'material';
@flag       : 'material';
@header     : 'material';
@icon       : 'material';
@image      : 'material';
@input      : 'material';
@label      : 'material';
@list       : 'material';
@loader     : 'material';
@rail       : 'material';
@reveal     : 'material';
@segment    : 'material';
@step       : 'material';
 /* Collections */
@breadcrumb : 'material';
@form       : 'material';
@grid       : 'material';
@menu       : 'chubby'; /* Other UI can use different themes as well */
@message    : 'material';
@table      : 'material';
 /* Modules */
@accordion  : 'material';
@checkbox   : 'material';
@dimmer     : 'material';
@dropdown   : 'material';
@embed      : 'material';
@modal      : 'material';
@nag        : 'material';
@popup      : 'material';
@progress   : 'material';
@rating     : 'material';
@search     : 'material';
@shape      : 'material';
@sidebar    : 'material';
@sticky     : 'material';
@tab        : 'material';
@transition : 'material';
 /* Views */
@ad         : 'material';
@card       : 'material';
@comment    : 'material';
@feed       : 'material';
@item       : 'material';
@statistic  : 'material';